.form-box {
	width: 100%;
	height: 50px;
	margin: 10px;
	clear:both;
}

.form-box .btn-play {
	height: 100%;
	width: 85%;
	float: left;
}

.form-box .btn-delete {
	width: 15%;
	height: 100%;
	float:right;
}

.form-box button {
	width: 100%;
	height: 50px;
}

.upload-box {
	margin: 10px;
}



.upload-box form{
	
	border-style: dashed;
}

.form-box .btn-stop {
    background: red;
    position: fixed;
    bottom: 10px;
}